/* company colours: #0097b2 / #1d4286 / #6cbe4c / #292929 */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Tahoma;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #292929;
    z-index: 2;
}

.logo {
    display: flex;
    height: 100px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
}
/* rid of the bullet points in the list */
.nav-links li {
    list-style: none;
}
/* changing style of the list text (page list) */
.nav-links a {
    color: white;
    text-decoration: none;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 14px;
}
/* control the menu button bars */
.menu-button div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}
/* hiding menu button for larger screens */
.menu-button {
    display: none;
    cursor: pointer;
}
/* about tablet screen size */
@media screen and (max-width: 1024px) {
    .nav-links {
        display: flex;
        justify-content: space-around;
        width: 70%;
    }
}
/* about phone screen size */
@media screen and (max-width: 768px) {
    /* deactivate scrolling horizontally */
    /*body {
        overflow-x: hidden;
    }*/
    /* set up the mobile menu */
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #292929;
        /* display in flex in a column */
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        /* move the menu off the screen */
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    /* make all menu items hidden */
    .nav-links li {
        opacity: 0;
    }
    /* shows the mobile menu button when using small screens */
    .menu-button{
        display: block;
    }
}
.nav-active {
    transform: translateX(0%);
}

/* building animations for menu items */
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

/* animating the mobile button into an x */

.toggle .bar01 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .bar02 {
    opacity: 0;
}
.toggle .bar03 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* hero banner image */
.heroBanner {
    /*filter: brightness(50%);
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    overflow-y: hidden;
    height: 500px;
    width: 1600px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    filter: brightness(75%);
}
/* Banner text -- I was trying to overlap this with the image but
I figured out that I actually like the white banner above the banner image */
.heroText {
    display: flex;
    justify-content: center;
    font-size: 72px;
    font-family: Tahoma;
    font-weight: bold;
    color: #292929;
    z-index: 1;
}

.block01 {
    display: flex;
    justify-content: center;
}
.content {
    display: flex;
    width: 1200px;
    height: 300px;
    margin: 50px;
    background-color: whitesmoke;
    border-radius: 15px;
    
}
.block-image {
    background-color: black;
    width: 450px;
    margin-right: 15px;
    background-size: cover;
    border-radius: 15px 0 0 15px;
    flex: 2;
}

/* content box images */
.hiking-img {
    background-image: url("/img/patrick-hendry-PQa5vHHnpm4-unsplash.jpg");
}

.culture-img {
    background-image: url("/img/GEO\ 06-600x414.jpeg");
}

.brewery-img {
    background-image: url("/img/thomas-thompson-BoVxWyS5KAE-unsplash.jpg");
}

.ferryland-img {
    background-image: url("/img/ferryland-lighthouse.png");
}

.whale-img {
    background-image: url("/img/mike-doherty-JRsl_wfC-9A-unsplash.jpg");
}

.content a {
    background-color: #6cbe4c;
    padding: 10px;
    border-radius: 15px;
    color: black;
    font-weight: 700;
    display: block;
    width: 180px;
    align-content: end;
    height: 40px;
    align-self: flex-end;
    text-decoration: none;
    margin: 10px;
}

.content p {
    align-self: center;
    flex: 2;
}

/* styles for my novice hiking sidepage */

.novice-hiking-banner {
    display: flex;
    justify-content: center;
    filter: brightness(75%);
    height: 600px;
    margin: 30px;
}

.activityInfo {
    display: grid;
    width: 800px;
    text-align: center;
    justify-items: center;
}

.activitiesTitle {
    font-size: 54px;
    display: flex;
    justify-content: center;
}

/* About us page */
/* Who Are We? */
.about-boxes {
    display: flex;
    justify-content: center;
}
.infoArea {
    display: flex;
    width: 100%;
    height: 700px;
    margin: 25px;
    background-color: whitesmoke;
}
.aboutImage {
    background-color: black;
    width: 50%;
    margin-right: 40px;
    background-size: cover;
}

.infoArea p {
    align-self: center;
    width: 100%;
    margin: 25px;
    flex: 1;
    text-align: center;
}

/* Contact Page */

.contact-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 800px;
    padding: 10px 0px;
    text-align: center;
}

.form-boxes {
    display: flex;
    flex-direction: column;
    padding: 25px 10px;
    margin: 50px;
}

.typeField {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border-color: #6cbe4c;
    width: 300px;
    display: flex;
    justify-content: center;
    align-self: center;
}

.messageBox {
    resize: none;
    width: 500px;
    height: 300px;
    border-radius: 5px;
}

.submitButton {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    margin: 10px;
}